@import "../../../assets/scss/variables";

.add {
  border: none;
  border-radius: 0.625rem;
  box-shadow: -0.3125rem 0.3125rem 0.625rem 0 rgba(221, 221, 224, 0.2),
    0.3125rem -0.3125rem 0.625rem 0 rgba(221, 221, 224, 0.2),
    -0.3125rem -0.3125rem 0.625rem 0 rgba(255, 255, 255, 0.9),
    0.3125rem 0.3125rem 0.8125rem 0 rgba(220, 220, 220, 0.9);
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 0.8125rem;
  font-weight: 500;
  background: #f0f0f3;
  width: 72px;
  &.mod {
    width: auto;
  }
  &:active {
    color: $defaultColor;
  }
  span {
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: inset -0.125rem 0.125rem 0.25rem 0 rgba(221, 221, 224, 0.2),
      inset 0.125rem -0.125rem 0.25rem 0 rgba(221, 221, 224, 0.2),
      inset -0.125rem -0.125rem 0.25rem 0 rgba(255, 255, 255, 0.9),
      inset 0.125rem 0.125rem 0.3125rem 0 rgba(220, 220, 220, 0.9);
    color: #3cbcb4;
    background-color: $backgroundColor;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    &.minus {
      margin-right: 14px;
      margin-left: 0;
      cursor: pointer;
    }

    &.plus {
      margin-right: 0;
      margin-left: 14px;
      cursor: pointer;
    }
  }
}
